doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav
      a(href="/") HOME
      if (user)
        span |
        a(href="/users") USERS
        span |
        a(href="/users/logout") LOGOUT
      else
        span |
        a(href="/users/registration") REGISTRATION
        span |
        a(href="/users/login") LOGIN
    
    div(style="line-height:24px; margin-top:10px; padding:10px; color:#f00; background-color:#222;")
      if (success_msg.length)
        span(style="color:#0f0;") Success: #{success_msg}
      if (error_msg.length)
        span(style="") Error: #{error_msg}
      if (error.length)
        span(style="") Error: #{error}
    
    block content
