extends layout

block content
  h1 LOGIN
  form(method="post" action="/users/login")
    h4
      label UserName
        br
        input(type="text" name="username")
    h4
      label Password
        br
        input(type="text" name="password")
    div
      button(type="submit") Submit
