extends layout

block content
  h1 REGISTRATION
  form(method="post" action="/users/registration")
    if (errors && errors.length)
      div(style="color:#f00;")
        div
          i count of errors is: #{errors.length}
        each val in errors
          div
            b Error: 
            span #{val.msg}
      
    h4
      label Name
        br
        input(type="text" name="name")
    h4
      label UserName
        br
        input(type="text" name="username")
    h4
      label Email
        br
        input(type="text" name="email")
    h4
      label Password
        br
        input(type="text" name="password")
    h4
      label Confirm Password
        br
        input(type="text" name="confirm")
    div
      button(type="submit") Submit